Import data and packages

In [3]:
import pandas as pd


# Load the data - only change the path and then use extension Data Wrangler to modify the data
df = pd.read_csv(r"C:\Users\loick\Visual Studio Code\Forex Historical Data\EURUSD_D1_HistoricalData_2019-2024.csv",
sep=",")


df.head()

         Date  Close/Last  Volume    Open    High     Low
0  09/27/2024      1.1164     NaN  1.1176  1.1203  1.1125
1  09/26/2024      1.1170     NaN  1.1176  1.1179  1.1162
2  09/25/2024      1.1139     NaN  1.1132  1.1145  1.1129
3  09/24/2024      1.1197     NaN  1.1180  1.1199  1.1178
4  09/23/2024      1.1113     NaN  1.1112  1.1117  1.1103