Import data and packages

In [30]:
import pandas as pd
import pandas_ta as ta

# Load the data
df = pd.read_csv(r"C:\Users\loick\Visual Studio Code\My Coding\Quantstrategy\cleaned_USDJPY-2000-2020-15m.csv",
sep=",")

# Set datetime index
df.set_index(pd.DatetimeIndex(df["datetime"]), inplace=True)
print(df.head())

                                datetime    open    high     low   close
datetime
2000-01-03 00:00:00  2000.01.03 00:00:00  102.14  102.15  102.12  102.14
2000-01-03 00:15:00  2000.01.03 00:15:00  102.15  102.26  102.13  102.26
2000-01-03 00:30:00  2000.01.03 00:30:00  102.15  102.17  102.14  102.15
2000-01-03 00:45:00  2000.01.03 00:45:00  102.16  102.20  102.12  102.20
2000-01-03 01:00:00  2000.01.03 01:00:00  102.20  102.22  102.12  102.12

Indicators

In [35]:
# Calculate technical indicators
df["EMA 5"]=ta.ema(df["close"], 8)
df["EMA 15"]=ta.ema(df["close"], 21)
df["EMA 30"]=ta.ema(df["close"], 50)
df["EMA 50"]=ta.ema(df["close"], 200)
bollinger_bands=ta.bbands(df["close"], 20, 2.0)
df["ATR"]=ta.atr(df["high"], df["low"], df["close"], 14)

# Add Bollinger Bands columns to dataframe
df["BB_upper"] = bollinger_bands["BBU_20_2.0"]
df["BB_lower"] = bollinger_bands["BBL_20_2.0"]
df["BB_mid"] = bollinger_bands["BBM_20_2.0"]

# Show the data
df

,datetime,open,high,low,close,EMA 5,EMA 15,EMA 30,EMA 50,ATR,BB_upper,BB_lower,BB_mid
datetime,,,,,,,,,,,,,
2000-01-03 00:00:00,2000.01.03 00:00:00,102.140,102.150,102.120,102.140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03 00:15:00,2000.01.03 00:15:00,102.150,102.260,102.130,102.260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03 00:30:00,2000.01.03 00:30:00,102.150,102.170,102.140,102.150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03 00:45:00,2000.01.03 00:45:00,102.160,102.200,102.120,102.200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03 01:00:00,2000.01.03 01:00:00,102.200,102.220,102.120,102.120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-19 05:30:00,2020.03.19 05:30:00,109.232,109.391,109.178,109.226,109.109273,108.799553,108.418679,107.564511,0.256104,109.600635,107.842665,108.72165
2020-03-19 05:45:00,2020.03.19 05:45:00,109.225,109.340,109.210,109.285,109.148323,108.843684,108.452652,107.581630,0.247097,109.632400,107.938900,108.78565
2020-03-19 06:00:00,2020.03.19 06:00:00,109.284,109.446,109.273,109.439,109.212918,108.897804,108.491332,107.600111,0.241804,109.680137,108.027563,108.85385
2020-03-19 06:15:00,2020.03.19 06:15:00,109.439,109.553,109.400,109.401,109.254714,108.943549,108.527006,107.618031,0.235461,109.713760,108.115440,108.91460
2020-03-19 06:30:00,2020.03.19 06:30:00,109.397,109.397,109.329,109.363,109.278778,108.981681,108.559790,107.635393,0.223785,109.735675,108.201025,108.96835

Management

In [ ]:
stoploss=10
risk_reward_ratio=3
take_profit=stoploss*risk_reward_ratio